<!DOCTYPE html>
<html>
  <head>
    <title>bootcamp xp</title>
  </head>
  <body>
    <h1>my bootcamp experience</h1>
    <p>my name is {{ name }} and i've really enjoyed the {{ module_name }} module in this bootcamp.</p>
    <p>i've learned a lot about {{ technologies_learned }} and it has been a great experience!</p>
  </body>
</html>

